USE [master]
GO
/****** Object:  Database [PruebaAlmacenTAEPI]    Script Date: 28/07/2025 04:02:21 p. m. ******/
CREATE DATABASE [PruebaAlmacenTAEPI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PruebaAlmacenTAEPI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PruebaAlmacenTAEPI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PruebaAlmacenTAEPI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PruebaAlmacenTAEPI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PruebaAlmacenTAEPI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PruebaAlmacenTAEPI]
GO
/****** Object:  Table [dbo].[CategoriasPreventivas]    Script Date: 28/07/2025 04:02:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriasPreventivas](
	[idCategoriasPreventivas] [int] IDENTITY(1,1) NOT NULL,
	[nombreCategorias] [varchar](100) NULL,
 CONSTRAINT [PK_CategoriasPreventivas] PRIMARY KEY CLUSTERED 
(
	[idCategoriasPreventivas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallesPreventivos]    Script Date: 28/07/2025 04:02:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallesPreventivos](
	[idDetallesPreventivos] [int] IDENTITY(1,1) NOT NULL,
	[idfRevisiones] [int] NULL,
	[idfCategoriasPreventivas] [int] NULL,
	[nombreParte] [varchar](100) NULL,
	[estado] [varchar](50) NULL,
	[comentarios] [varchar](max) NULL,
	[observaciones] [varchar](max) NULL,
	[fecha] [date] NULL,
	[numeroReporte] [int] NULL,
 CONSTRAINT [PK_DetallesPreventivos] PRIMARY KEY CLUSTERED 
(
	[idDetallesPreventivos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresas]    Script Date: 28/07/2025 04:02:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresas](
	[idEmpresas] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](350) NULL,
 CONSTRAINT [PK_Empresas] PRIMARY KEY CLUSTERED 
(
	[idEmpresas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipos]    Script Date: 28/07/2025 04:02:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipos](
	[idEquipos] [int] IDENTITY(1,1) NOT NULL,
	[codigoArticulo] [varchar](150) NULL,
	[nombreArticulo] [varchar](100) NULL,
	[nombreComercial] [varchar](100) NULL,
	[numIdentificador] [varchar](100) NOT NULL,
	[descripcion] [varchar](max) NULL,
	[marca] [varchar](100) NULL,
	[modelo] [varchar](100) NULL,
	[fechadeRegistro] [date] NULL,
	[idfUbicaciones] [int] NULL,
	[idfUnidades] [int] NULL,
	[idfEstatus] [int] NULL,
	[idfTiposMaquinarias] [int] NULL,
 CONSTRAINT [PK_Equipos] PRIMARY KEY CLUSTERED 
(
	[idEquipos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estatus]    Script Date: 28/07/2025 04:02:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estatus](
	[idEstatus] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
 CONSTRAINT [PK_Estatus] PRIMARY KEY CLUSTERED 
(
	[idEstatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lugares]    Script Date: 28/07/2025 04:02:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lugares](
	[idLugares] [int] IDENTITY(1,1) NOT NULL,
	[nombreLugar] [varchar](100) NULL,
	[idfEquipos] [int] NULL,
 CONSTRAINT [PK_Lugares] PRIMARY KEY CLUSTERED 
(
	[idLugares] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prioridades]    Script Date: 28/07/2025 04:02:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prioridades](
	[idPrioridades] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
 CONSTRAINT [PK_Prioridades] PRIMARY KEY CLUSTERED 
(
	[idPrioridades] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recordatorios]    Script Date: 28/07/2025 04:02:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recordatorios](
	[idRecordatorios] [int] IDENTITY(1,1) NOT NULL,
	[idfEquipos] [int] NULL,
	[idfTareas] [int] NULL,
	[idfUsuarios] [int] NULL,
	[idfPrioridades] [int] NULL,
	[idfTiposMantenimientos] [int] NULL,
	[recordarS_N] [binary](1) NULL,
	[fechaRecordatorio] [date] NULL,
	[numeroReporte] [int] NULL,
	[descripcion] [varchar](max) NULL,
 CONSTRAINT [PK_Recordatorios] PRIMARY KEY CLUSTERED 
(
	[idRecordatorios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Refacciones]    Script Date: 28/07/2025 04:02:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Refacciones](
	[idRefacciones] [int] NOT NULL,
	[idfRevisiones] [int] NULL,
	[idfUnidades] [int] NULL,
	[nombreRefaccion] [varchar](100) NULL,
	[descripcion] [varchar](max) NULL,
	[cantidad] [int] NULL,
	[observaciones] [varchar](max) NULL,
	[fecha] [date] NULL,
	[numeroReporte] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Refacciones] PRIMARY KEY CLUSTERED 
(
	[idRefacciones] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Revisiones]    Script Date: 28/07/2025 04:02:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Revisiones](
	[idRevisiones] [int] IDENTITY(1,1) NOT NULL,
	[idfTiposMantenimientos] [int] NULL,
	[idfEquipos] [int] NULL,
	[idfUsuarios] [int] NULL,
	[idfEmpresas] [int] NULL,
	[fecha] [date] NULL,
 CONSTRAINT [PK_Revisiones] PRIMARY KEY CLUSTERED 
(
	[idRevisiones] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 28/07/2025 04:02:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[idRoles] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[idRoles] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tareas]    Script Date: 28/07/2025 04:02:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tareas](
	[idTareas] [int] NOT NULL,
	[idTiposMantenimientos] [int] NULL,
	[descripcion] [varchar](max) NULL,
 CONSTRAINT [PK_Tareas] PRIMARY KEY CLUSTERED 
(
	[idTareas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposMantenimientos]    Script Date: 28/07/2025 04:02:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposMantenimientos](
	[idTiposMantenimientos] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
 CONSTRAINT [PK_TiposMantenimientos] PRIMARY KEY CLUSTERED 
(
	[idTiposMantenimientos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposMaquinarias]    Script Date: 28/07/2025 04:02:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposMaquinarias](
	[idTiposMaquinarias] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
 CONSTRAINT [PK_TiposMaquinarias] PRIMARY KEY CLUSTERED 
(
	[idTiposMaquinarias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ubicaciones]    Script Date: 28/07/2025 04:02:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubicaciones](
	[idUbicaciones] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
 CONSTRAINT [PK_Ubicaciones] PRIMARY KEY CLUSTERED 
(
	[idUbicaciones] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unidades]    Script Date: 28/07/2025 04:02:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unidades](
	[idUnidades] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
 CONSTRAINT [PK_Unidades] PRIMARY KEY CLUSTERED 
(
	[idUnidades] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 28/07/2025 04:02:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[idUsuarios] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[apellidoPaterno] [varchar](100) NULL,
	[apellidoMaterno] [varchar](100) NULL,
	[contraseña] [varchar](255) NULL,
	[idfRoles] [int] NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[idUsuarios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DetallesPreventivos]  WITH CHECK ADD  CONSTRAINT [FK_DetallesPreventivos_CategoriasPreventivas] FOREIGN KEY([idfCategoriasPreventivas])
REFERENCES [dbo].[CategoriasPreventivas] ([idCategoriasPreventivas])
GO
ALTER TABLE [dbo].[DetallesPreventivos] CHECK CONSTRAINT [FK_DetallesPreventivos_CategoriasPreventivas]
GO
ALTER TABLE [dbo].[DetallesPreventivos]  WITH CHECK ADD  CONSTRAINT [FK_DetallesPreventivos_Revisiones] FOREIGN KEY([idfRevisiones])
REFERENCES [dbo].[Revisiones] ([idRevisiones])
GO
ALTER TABLE [dbo].[DetallesPreventivos] CHECK CONSTRAINT [FK_DetallesPreventivos_Revisiones]
GO
ALTER TABLE [dbo].[Equipos]  WITH CHECK ADD  CONSTRAINT [FK_Equipos_Estatus] FOREIGN KEY([idfEstatus])
REFERENCES [dbo].[Estatus] ([idEstatus])
GO
ALTER TABLE [dbo].[Equipos] CHECK CONSTRAINT [FK_Equipos_Estatus]
GO
ALTER TABLE [dbo].[Equipos]  WITH CHECK ADD  CONSTRAINT [FK_Equipos_TiposMaquinarias] FOREIGN KEY([idfTiposMaquinarias])
REFERENCES [dbo].[TiposMaquinarias] ([idTiposMaquinarias])
GO
ALTER TABLE [dbo].[Equipos] CHECK CONSTRAINT [FK_Equipos_TiposMaquinarias]
GO
ALTER TABLE [dbo].[Equipos]  WITH CHECK ADD  CONSTRAINT [FK_Equipos_Ubicaciones] FOREIGN KEY([idfUbicaciones])
REFERENCES [dbo].[Ubicaciones] ([idUbicaciones])
GO
ALTER TABLE [dbo].[Equipos] CHECK CONSTRAINT [FK_Equipos_Ubicaciones]
GO
ALTER TABLE [dbo].[Equipos]  WITH CHECK ADD  CONSTRAINT [FK_Equipos_Unidades] FOREIGN KEY([idfUnidades])
REFERENCES [dbo].[Unidades] ([idUnidades])
GO
ALTER TABLE [dbo].[Equipos] CHECK CONSTRAINT [FK_Equipos_Unidades]
GO
ALTER TABLE [dbo].[Lugares]  WITH CHECK ADD  CONSTRAINT [FK_Lugares_Equipos] FOREIGN KEY([idfEquipos])
REFERENCES [dbo].[Equipos] ([idEquipos])
GO
ALTER TABLE [dbo].[Lugares] CHECK CONSTRAINT [FK_Lugares_Equipos]
GO
ALTER TABLE [dbo].[Recordatorios]  WITH CHECK ADD  CONSTRAINT [FK_Recordatorios_Equipos] FOREIGN KEY([idfEquipos])
REFERENCES [dbo].[Equipos] ([idEquipos])
GO
ALTER TABLE [dbo].[Recordatorios] CHECK CONSTRAINT [FK_Recordatorios_Equipos]
GO
ALTER TABLE [dbo].[Recordatorios]  WITH CHECK ADD  CONSTRAINT [FK_Recordatorios_Prioridades] FOREIGN KEY([idfPrioridades])
REFERENCES [dbo].[Prioridades] ([idPrioridades])
GO
ALTER TABLE [dbo].[Recordatorios] CHECK CONSTRAINT [FK_Recordatorios_Prioridades]
GO
ALTER TABLE [dbo].[Recordatorios]  WITH CHECK ADD  CONSTRAINT [FK_Recordatorios_Tareas] FOREIGN KEY([idfTareas])
REFERENCES [dbo].[Tareas] ([idTareas])
GO
ALTER TABLE [dbo].[Recordatorios] CHECK CONSTRAINT [FK_Recordatorios_Tareas]
GO
ALTER TABLE [dbo].[Recordatorios]  WITH CHECK ADD  CONSTRAINT [FK_Recordatorios_TiposMantenimientos] FOREIGN KEY([idfTiposMantenimientos])
REFERENCES [dbo].[TiposMantenimientos] ([idTiposMantenimientos])
GO
ALTER TABLE [dbo].[Recordatorios] CHECK CONSTRAINT [FK_Recordatorios_TiposMantenimientos]
GO
ALTER TABLE [dbo].[Recordatorios]  WITH CHECK ADD  CONSTRAINT [FK_Recordatorios_Usuarios] FOREIGN KEY([idfUsuarios])
REFERENCES [dbo].[Usuarios] ([idUsuarios])
GO
ALTER TABLE [dbo].[Recordatorios] CHECK CONSTRAINT [FK_Recordatorios_Usuarios]
GO
ALTER TABLE [dbo].[Refacciones]  WITH CHECK ADD  CONSTRAINT [FK_Refacciones_Revisiones] FOREIGN KEY([idfRevisiones])
REFERENCES [dbo].[Revisiones] ([idRevisiones])
GO
ALTER TABLE [dbo].[Refacciones] CHECK CONSTRAINT [FK_Refacciones_Revisiones]
GO
ALTER TABLE [dbo].[Refacciones]  WITH CHECK ADD  CONSTRAINT [FK_Refacciones_Unidades] FOREIGN KEY([idfUnidades])
REFERENCES [dbo].[Unidades] ([idUnidades])
GO
ALTER TABLE [dbo].[Refacciones] CHECK CONSTRAINT [FK_Refacciones_Unidades]
GO
ALTER TABLE [dbo].[Revisiones]  WITH CHECK ADD  CONSTRAINT [FK_Revisiones_Empresas] FOREIGN KEY([idfEmpresas])
REFERENCES [dbo].[Empresas] ([idEmpresas])
GO
ALTER TABLE [dbo].[Revisiones] CHECK CONSTRAINT [FK_Revisiones_Empresas]
GO
ALTER TABLE [dbo].[Revisiones]  WITH CHECK ADD  CONSTRAINT [FK_Revisiones_Equipos] FOREIGN KEY([idfEquipos])
REFERENCES [dbo].[Equipos] ([idEquipos])
GO
ALTER TABLE [dbo].[Revisiones] CHECK CONSTRAINT [FK_Revisiones_Equipos]
GO
ALTER TABLE [dbo].[Revisiones]  WITH CHECK ADD  CONSTRAINT [FK_Revisiones_TiposMantenimientos] FOREIGN KEY([idfTiposMantenimientos])
REFERENCES [dbo].[TiposMantenimientos] ([idTiposMantenimientos])
GO
ALTER TABLE [dbo].[Revisiones] CHECK CONSTRAINT [FK_Revisiones_TiposMantenimientos]
GO
ALTER TABLE [dbo].[Revisiones]  WITH CHECK ADD  CONSTRAINT [FK_Revisiones_Usuarios] FOREIGN KEY([idfUsuarios])
REFERENCES [dbo].[Usuarios] ([idUsuarios])
GO
ALTER TABLE [dbo].[Revisiones] CHECK CONSTRAINT [FK_Revisiones_Usuarios]
GO
ALTER TABLE [dbo].[Tareas]  WITH CHECK ADD  CONSTRAINT [FK_Tareas_TiposMantenimientos] FOREIGN KEY([idTiposMantenimientos])
REFERENCES [dbo].[TiposMantenimientos] ([idTiposMantenimientos])
GO
ALTER TABLE [dbo].[Tareas] CHECK CONSTRAINT [FK_Tareas_TiposMantenimientos]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([idfRoles])
REFERENCES [dbo].[Roles] ([idRoles])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
USE [master]
GO
